.dashboard {
  background-color: #fafafa;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.dashboard .div-2 {
  background-color: #fafafa;
  min-height: 1250px; /* Utilisez min-height pour occuper au moins toute la hauteur de la fenêtre */
  height: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.dashboard .container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  padding: 8px 46px 8px 47px;
  position: absolute;
  top: 73px;
  width: 100%;
}

.dashboard .heading {
  align-items: flex-start;
  align-self: stretch;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #aaaaaa4c;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 16px 0px;
  position: relative;
  width: 100%;
}

.dashboard .mon-agenda {
  color: #303030;
  font-family: "Montserrat", Helvetica;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

/* .dashboard .mini-footer {
  height: 23px;
  left: 0;
  position: absolute;
  top: 1185px;
  width: 1442px;
} */
.dashboard .mini-footer {
  height: 23px;
  left: 0;
  position: fixed;
  bottom: 0; /* Fixe le footer en bas de la page */
  width:1442px; /* Prend toute la largeur de la page */
  background-color: #f1f1f1; /* Couleur de fond pour le visuel */
  z-index: 1000; /* Assure que le footer soit au-dessus des autres éléments si nécessaire */
}

.dashboard .overlap-group-2 {
  background-color: #ffffff;
  height: 23px;
  position: relative;
  width: 100%;
}

.dashboard .frame-6 {
  align-items: flex-start;
  display: inline-flex;
  gap: 5px;
  left: 819px;
  position: absolute;
  top: 6px;
}

.dashboard .text-wrapper-5 {
  color: #000000;
  font-family: "Avenir Next LT Pro-Regular", Helvetica;
  font-size: 10.5px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.dashboard .text-wrapper-6 {
  color: #000000;
  font-family: "Avenir Next LT Pro-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.dashboard .p {
  color: var(--grey);
  font-family: "Avenir Next LT Pro-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  height: 12px;
  left: 49px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.dashboard .header-PRO-instance {
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
}

.dashboard .design-component-instance-node {
  background-color: #c989dd !important;
}

.dashboard .overlap {
  height: 855px;
  min-height: 855px;
  /* left: 920px; */
  position: relative; 
  /* top: 307px; */
  width: 30%;
}

.dashboard .frame-7 {
  align-items: flex-start;
  background-color: #ffffff;
  border: 1.4px solid;
  border-color: transparent;
  border-image: linear-gradient(to bottom, rgb(109, 192, 249), rgb(201, 137, 221)) 1;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  min-height: 855px;
  height: auto;
  left: 13px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

.dashboard .frame-8 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 24px 28px 20px;
  position: relative;
  width: 100%;
}

.dashboard .text-wrapper-7 {
  color: #303030;
  flex: 1;
  font-family: "Montserrat", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
}

.dashboard .frame-9 {
  align-items: center;
  background-color: var(--blue-1);
  border-radius: 39px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 7px 12px;
  position: relative;
}

.dashboard .text-wrapper-8 {
  color: var(--purplewhite);
  font-family: "Avenir Next LT Pro-Demi", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.12px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.dashboard .calendar-april {
  align-items: flex-start;
  align-self: stretch;
  background-color: #ffffff;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.dashboard .frame-10 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  padding: 10px 20px 0px;
  position: relative;
  width: 100%;
}

.dashboard .frame-11 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 13px;
  padding: 4px 10px;
  position: relative;
}

.dashboard .text-wrapper-9 {
  color: #000000;
  font-family: "Avenir Next LT Pro-Demi", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.dashboard .chevron-down {
  height: 21px !important;
  position: relative !important;
  width: 21px !important;
}

.dashboard .frame-12 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 24px;
  position: relative;
}

.dashboard .icon-instance-node {
  height: 32px !important;
  position: relative !important;
  width: 32px !important;
}

.dashboard .frame-13 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-between;
  padding: 10px 20px;
  position: relative;
  width: 100%;
}

.dashboard .frame-14 {
  align-items: flex-start;
  align-self: stretch;
  background-color: #ffffff;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.dashboard .dating-week-label-instance {
  height: 22.34px !important;
  width: 37.23px !important;
}

.dashboard .dating-week-label-2 {
  color: var(--gray-600) !important;
  font-family: "Avenir Next LT Pro-Demi", Helvetica !important;
  font-size: 14px !important;
  height: 22px !important;
  width: 37px !important;
}

.dashboard .week {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.dashboard .design-component-instance-node-2 {
  height: 37.23px !important;
  width: 37.23px !important;
}

.dashboard .design-component-instance-node-3 {
  font-size: 16px !important;
  height: 37px !important;
  width: 37px !important;
}

.dashboard .dating-day-in-month-instance {
  border-radius: 124.11px !important;
  height: 37.23px !important;
  width: 37.23px !important;
}

.dashboard .dating-day-in-month-2 {
  color: #262d33 !important;
  font-size: 17.4px !important;
  height: 37px !important;
  width: 37px !important;
}

.dashboard .dating-day-in-month-3 {
  background-color: #ffffff !important;
  height: 37.23px !important;
  width: 37.23px !important;
}

.dashboard .dating-day-in-month-4 {
  border: 1.24px solid !important;
  border-color: var(--primaryblue) !important;
  border-radius: 124.11px !important;
  height: 37.23px !important;
  width: 37.23px !important;
}

.dashboard .dating-day-in-month-5 {
  color: #6dc0f9 !important;
  font-family: "Avenir Next LT Pro-Demi", Helvetica !important;
  font-size: 16px !important;
  height: 37px !important;
  width: 37px !important;
}

.dashboard .frame-15 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  /* gap: 30px; */
  /* padding: 10px 0px; */
  position: relative;
  width: 100%;
}

.dashboard .frame-16 {
  height: 130.62px;
  position: relative;
  width: 145px;
}

.dashboard .frame-17 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 25px;
  position: relative;
}

.dashboard .vous-n-avez-pas {
  color: #303030;
  font-family: "Avenir Next LT Pro-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 22.4px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.dashboard .dropdown {
  align-items: flex-start;
  background-color: #ffffff;
  border: 0.5px solid;
  border-color: #aaaaaa33;
  border-radius: 8px;
  box-shadow: 0px 2.77px 2.21px #00000005, 0px 6.65px 5.32px #00000007, 0px 12.52px 10.02px #00000009,
    0px 22.34px 17.87px #0000000b, 0px 41.78px 33.42px #0000000d, 0px 100px 80px #00000012;
  display: flex;
  flex-direction: column;
  left: 0;
  padding: 0px 5px 0px 12px;
  position: absolute;
  top: 107px;
  width: 156px;
}

.dashboard .frame-18 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 6px;
  position: relative;
  width: 100%;
}

.dashboard .frame-19 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.dashboard .frame-20 {
  align-items: flex-start;
  align-self: stretch;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #eaeaea;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 12px 0px;
  position: relative;
  width: 100%;
}

.dashboard .text-wrapper-10 {
  color: #303030;
  flex: 1;
  font-family: "Avenir Next LT Pro-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
}

.dashboard .text-wrapper-11 {
  color: var(--black);
  flex: 1;
  font-family: "Avenir Next LT Pro-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
}

.dashboard .frame-21 {
  align-items: flex-start;
  align-self: stretch;
  background-color: #6dc0f933;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #eaeaea;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 12px 0px;
  position: relative;
  width: 100%;
}

.dashboard .text-wrapper-12 {
  color: #6dc0f9;
  flex: 1;
  font-family: "Avenir Next LT Pro-Demi", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
}

.dashboard .rectangle-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  padding: 20px 0px;
  position: relative;
}

.dashboard .rectangle {
  background-color: #aaaaaa33;
  border-radius: 20px;
  height: 63px;
  position: relative;
  width: 5px;
}

.dashboard .frame-22 {
  align-items: flex-start;
  display: flex;
  gap: 24px;
  left: 48px;
  position: absolute;
  top: 156px;
  width: 94%;
}

.dashboard .frame-wrapper {
  align-items: flex-start;
  background-color: #ffffff;
  border: 1px solid;
  border-color: transparent;
  border-image: linear-gradient(to bottom, rgb(109, 192, 249), rgb(201, 137, 221)) 1;
  border-radius: 10px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 16px;
  padding: 34px 28px;
  position: relative;
  width: 20%;
}

/* .dashboard .frame-22 {
  display: flex;
  flex-wrap: wrap; /* Permet de passer à la ligne si l'espace est insuffisant 
  gap: 24px;
  justify-content: center; /* Centre les éléments horizontalement 
  padding: 20px; /* Ajoute un peu de padding pour l'espace interne 
  position: relative; /* Permet d'utiliser top/left de manière relative
  width: 100%; /* Prend toute la largeur disponible 
  top: 156px; /* Ajuster en fonction des besoins 
}

.dashboard .frame-wrapper {
  background-color: #ffffff;
  border: 1px solid transparent;
  border-image: linear-gradient(to bottom, rgb(109, 192, 249), rgb(201, 137, 221)) 1;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 34px 28px;
  width: 48%; /* Par défaut, deux éléments côte à côte 
  box-sizing: border-box; /* Inclut padding et bordure dans la largeur 
}

/* Media query pour les écrans moyens 
@media (max-width: 768px) {
  .dashboard .frame-wrapper {
    width: 48%; 
    padding: 20px 16px;
  }
}


@media (max-width: 480px) {
  .dashboard .frame-22 {
    top: 80px; 
    gap: 12px;
  }

  .dashboard .frame-wrapper {
    width: 100%; 
    padding: 16px 12px;
  }
} */
.dashboard .frame-23 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 20px;
  position: relative;
  width: 100%;
}

.dashboard .img-wrapper {
  background-color: #dbeffd;
  border-radius: 29px;
  height: 58px;
  position: relative;
  width: 58px;
}

.dashboard .maki-doctor {
  height: 45px;
  left: 5px;
  position: absolute;
  top: 9px;
  width: 47px;
}

.dashboard .frame-24 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  position: relative;
}

.dashboard .text-wrapper-13 {
  color: #303030;
  font-family: "Avenir Next LT Pro-Demi", Helvetica;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.dashboard .text-wrapper-14 {
  color: #303030;
  font-family: "Avenir Next LT Pro-Demi", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.16px;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.dashboard .calendar-outline {
  height: 43px;
  left: 7px;
  position: absolute;
  top: 6px;
  width: 45px;
}

.dashboard .text-wrapper-15 {
  color: #303030;
  font-family: "Montserrat", Helvetica;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.dashboard .fluent-patient-wrapper {
  background-color: #6dc0f940;
  border-radius: 29px;
  height: 58px;
  position: relative;
  width: 58px;
}

.dashboard .fluent-patient {
  height: 36px;
  left: 12px;
  position: absolute;
  top: 12px;
  width: 36px;
}

.dashboard .fluent-people {
  height: 33px;
  left: 13px;
  position: absolute;
  top: 13px;
  width: 33px;
}

.dashboard .overlap-wrapper {
  background-color: #ffffff;
  border-radius: 10px;
  height: 350px;
  /* left: 47px; */
  position: relative;
  /* top: 307px; */
  width: 30%;
}

.dashboard .overlap-2 {
  height: 314px;
  left: 1px;
  position: relative;
  top: 9px;
  width: 435px;
}

.dashboard .frame-25 {
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: 14px;
  padding: 10px;
  position: absolute;
  top: 0;
  width: 407px;
}

.dashboard .text-wrapper-16 {
  color: #303030;
  font-family: "Montserrat", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.dashboard .text-wrapper-17 {
  color: #303030;
  font-family: "Avenir Next LT Pro-Demi", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.5px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.dashboard .chevron-down-1 {
  height: 18px !important;
  position: relative !important;
  width: 18px !important;
}

.dashboard .line-chart {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 27.53px;
  left: 0;
  position: absolute;
  top: 63px;
  width: 435px;
}

.dashboard .y-axis {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 18px;
  justify-content: flex-end;
  margin-right: -0.27px;
  position: relative;
  width: 435px;
}

.dashboard .y-axis-line {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 11.01px;
  height: 30.28px;
  position: relative;
  width: 100%;
}

.dashboard .number {
  color: #aaaaaa;
  font-family: "Avenir Next LT Pro-Demi", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.14px;
  line-height: 24.8px;
  position: relative;
  text-align: right;
  width: 47px;
}

.dashboard .divider {
  flex: 1;
  flex-grow: 1;
  height: 1.2px;
  position: relative;
}

.dashboard .y-axis-line-2 {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 11.01px;
  height: 23.4px;
  position: relative;
  width: 100%;
}

.dashboard .number-2 {
  color: #aaaaaa;
  font-family: "Avenir Next LT Pro-Demi", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.14px;
  line-height: 24.8px;
  margin-top: -2.18px;
  position: relative;
  text-align: right;
  width: 47px;
}

.dashboard .chart-data-wrapper {
  height: 32px;
  left: 103px;
  position: absolute;
  top: 238px;
  width: 260px;
}

.dashboard .chart-data {
  align-items: flex-end;
  display: inline-flex;
  gap: 60px;
  justify-content: center;
  position: relative;
}

.dashboard .frame-26 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 6px;
  height: 32px;
  justify-content: flex-end;
  position: relative;
}

.dashboard .rectangle-2 {
  background-color: #bb6bd9;
  flex: 1;
  flex-grow: 1;
  position: relative;
  width: 40px;
}

.dashboard .text-wrapper-18 {
  color: #303030;
  font-family: "Avenir Next LT Pro-Demi", Helvetica;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -0.13px;
  line-height: 24.8px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.dashboard .rectangle-3 {
  background-color: var(--blue);
  flex: 1;
  flex-grow: 1;
  position: relative;
  width: 40px;
}

.dashboard .rectangle-4 {
  background-color: #fcb768;
  flex: 1;
  flex-grow: 1;
  position: relative;
  width: 40px;
}

.dashboard .dropdown-2 {
  align-items: flex-start;
  background-color: #ffffff;
  border: 0.5px solid;
  border-color: #aaaaaa33;
  border-radius: 8px;
  box-shadow: 0px 2.77px 2.21px #00000005, 0px 6.65px 5.32px #00000007, 0px 12.52px 10.02px #00000009,
    0px 22.34px 17.87px #0000000b, 0px 41.78px 33.42px #0000000d, 0px 100px 80px #00000012;
  display: flex;
  flex-direction: column;
  left: 153px;
  padding: 0px 12px;
  position: absolute;
  top: 38px;
  width: 261px;
}

.dashboard .frame-27 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 16px;
  position: relative;
  width: 100%;
}

.dashboard .frame-28 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 6px;
  position: relative;
}

.dashboard .frame-29 {
  align-items: center;
  align-self: stretch;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #eaeaea;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 12px 0px;
  position: relative;
  width: 100%;
}

.dashboard .text-wrapper-19 {
  color: var(--black);
  flex: 1;
  font-family: "Avenir Next LT Pro-Demi", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
}

.dashboard .text-wrapper-20 {
  color: #303030b2;
  flex: 1;
  font-family: "Avenir Next LT Pro-Demi", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
}

.dashboard .text-wrapper-21 {
  color: #303030b2;
  flex: 1;
  font-family: "Avenir Next LT Pro-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
}

.dashboard .frame-30 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 12px 0px;
  position: relative;
  width: 100%;
}

.dashboard .frame-31 {
  align-items: flex-start;
  display: inline-flex;
  left: 115px;
  opacity: 0.9;
  padding: 20px 0px;
  position: absolute;
  top: 30px;
}

.dashboard .frame-32 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  gap: 6px;
  position: relative;
  width: 100px;
}

.dashboard .group-4 {
  background-color: #ffffff;
  border-radius: 10px;
  height: 350px;
  /* left: 509px; */
  position: relative;
  /* top: 307px; */
  width: 30%;
}

.dashboard .frame-33 {
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: 15px;
  padding: 10px;
  position: absolute;
  top: 9px;
  width: 407px;
}

.dashboard .line-chart-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 27.53px;
  left: 1px;
  position: absolute;
  top: 72px;
  width: 435px;
}

.dashboard .group-5 {
  height: 32px;
  left: 103px;
  position: absolute;
  top: 238px;
  width: 253px;
}

.dashboard .frame-34 {
  align-items: flex-start;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1%;
  height: 480px;
  left: 46px;
  position: absolute;
  top: 720px;
  width: 66%;
  overflow: hidden;
  
}

.dashboard .frame-35 {
  align-items: flex-end;
  background-color: #ffffff;
  border: 1.4px solid;
  border-color: transparent;
  border-image: linear-gradient(to bottom, rgb(109, 192, 249), rgb(201, 137, 221)) 1;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 480px;
  padding: 20px;
  position: relative;
  min-width: 300px;
  overflow-y: auto;
  
}

.dashboard .frame-36 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 20px;
}



.dashboard .frame-37 {
  align-items: center;
  background-color: var(--blue-1);
  border-radius: 39px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 6px 12px;
  position: relative;
}

.dashboard .text-wrapper-22 {
  color: var(--purplewhite);
  font-family: "Avenir Next LT Pro-Demi", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.14px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
  border-radius: 39px;
  background: var(--blue, #6DC0F9);
  display: flex;
  height: 22px;
  padding: 12px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
}

.dashboard .frame-38 {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 8px;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  
  
}
.dashboard .frame-38 .empty-pat{
  display: flex;
padding: 110px 0px;
flex-direction: column;
align-items: center;
gap: 24px;
flex: 1 0 0;
}

.dashboard .vector-11 {
  height: 42px;
  position: relative;
  width: 33px;
}

.dashboard .vous-n-avez-pas-2 {
  color: #303030;
  font-family: "Avenir Next LT Pro-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: 243px;
}

.dashboard .frame-39 {
  align-items: center;
  background-color: #ffffff;
  border: 1.4px solid;
  border-color: transparent;
  border-image: linear-gradient(to bottom, rgb(109, 192, 249), rgb(201, 137, 221)) 1;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 480px;
  justify-content: center;
  padding: 20px;
  position: relative;
  width: 283px;
}

.dashboard .help-2 {
  height: 42px;
  position: relative;
  width: 39.32px;
}

.dashboard .vous-n-avez-pas-3 {
  color: #303030;
  font-family: "Avenir Next LT Pro-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: 233px;
}

.dashboard .button {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.dashboard .button-2 {
  align-items: center;
  border: 1.4px solid;
  border-color: #6dc0f9;
  border-radius: 8px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 14px;
  justify-content: center;
  overflow: hidden;
  padding: 9px 24px;
  position: relative;
}

.dashboard .plus-circle {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.dashboard .titre {
  color: #6dc0f9;
  font-family: var(--base-medium-font-family);
  font-size: var(--base-medium-font-size);
  font-style: var(--base-medium-font-style);
  font-weight: var(--base-medium-font-weight);
  letter-spacing: var(--base-medium-letter-spacing);
  line-height: var(--base-medium-line-height);
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.dashboard .frame-40 {
  align-items: flex-end;
  background-color: #ffffff;
  border: 1.4px solid;
  border-color: transparent;
  border-image: linear-gradient(to bottom, rgb(109, 192, 249), rgb(201, 137, 221)) 1;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 480px;
  overflow: hidden;
  padding: 20px;
  position: relative;
  width: 283px;
}

.dashboard .frame-41 {
  align-items: center;
  display: inline-flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 24px;
  padding: 101px 0px 110px;
  position: relative;
}

.dashboard .group-6 {
  background-image: url(https://c.animaapp.com/NnydzBh0/img/group-7858@2x.png);
  background-size: 100% 100%;
  height: 48.41px;
  position: relative;
  width: 48.96px;
}

.dashboard .vector-12 {
  height: 9px;
  left: 37px;
  position: absolute;
  top: 27px;
  width: 9px;
}

.dashboard .vector-13 {
  height: 6px;
  left: 27px;
  position: absolute;
  top: 40px;
  width: 5px;
}

.dashboard .vector-14 {
  height: 10px;
  left: 6px;
  position: absolute;
  top: 34px;
  width: 9px;
}

.dashboard .vector-15 {
  height: 12px;
  left: 11px;
  position: absolute;
  top: 5px;
  width: 11px;
}

.dashboard .vector-16 {
  height: 8px;
  left: 33px;
  position: absolute;
  top: 10px;
  width: 7px;
}

.dashboard .vector-17 {
  height: 5px;
  left: 23px;
  position: absolute;
  top: 27px;
  width: 5px;
}

.dashboard .vector-18 {
  height: 6px;
  left: 2px;
  position: absolute;
  top: 22px;
  width: 5px;
}

.RVS {
  align-items: flex-start;
  border: 1px solid;
  border-color: #aaaaaa33;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px 28px;
  position: relative;
  width: 100%;
  }
  .RVS .frame {
  align-items: center;
  align-self: stretch;
  border-radius: 6px 6px 0px 0px;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
  }
  .RVS .div {
  align-items: center;
  background-color: #f2f4f7;
  border-radius: 6px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 14px;
  padding: 10px 12px;
  position: relative;
  }
  .RVS .frame-2 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 6px;
  position: relative;
  }
  .RVS .text-wrapper {
  color: #303030;
  font-family: "Avenir Next LT Pro-Demi", Helvetica;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -0.13px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
  }
  .RVS .frame-3 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 9px;
  position: relative;
  width: 50%;
  height: 20px;
  }
  .RVS .frame-4 {
  align-items: center;
  background-color: var(--purple-2);
  border-radius: 2000px;
  display: flex;
  gap: 10px;
  height: 30px;
  justify-content: center;
  padding: 16px;
  position: relative;
  width: 30px;
  }
  .RVS .vector {
  height: 16px;
  margin-bottom: -9px;
  margin-left: -8.5px;
  margin-right: -8.5px;
  margin-top: -9px;
  position: relative;
  width: 15px;
  }
  .RVS .frame-5 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  position: relative;
  height: 10px;
  }
  .RVS .frame-6 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
  width: 100%;
  }
  .RVS .text-wrapper-2 {
  color: var(--black);
  font-family: "Montserrat-SemiBold", Helvetica;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
  }
  .RVS .text-wrapper-3 {
  color: #6c727b;
  font-family: "Avenir Next LT Pro-Regular", Helvetica;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -0.13px;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
  }
 
/* CSS pour l'élément .frame-7 */
.RVS .frame-77 {
  align-items: flex-start;
  display: flex; /* Changer inline-flex en flex */
  flex: 0 0 auto;
  grid-gap: 10px;
  gap: 10px;
  position: relative;
  width: 100%; /* Prendre toute la largeur du parent */
  height: auto; /* Ajuster la hauteur en fonction du contenu */
  flex-direction: column;
}
.RVS .frame-71 {
  display: inline-flex; /* Changer inline-flex en flex */
  gap: 10px;
}
.inline {
  display: flex;
  flex-direction: row; /* Par défaut, mais explicité pour la clarté */
  gap: 5%;
  top: 250px;
  position: relative;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 50px;
  padding-bottom: 50px;
}
  .RVS .text-wrapper-4 {
  color: #6c727b;
  font-family: "Avenir Next LT Pro-Regular", Helvetica;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -0.13px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
  }
  .RVS .img {
    height: 32px;
    position: relative;
    width: 32px;
    }


    .box {
      height: 108px;
      width: 7px;
      }
      .box .rectangle {
      background-color: #d9d9d980;
      border-radius: 20px;
      height: 108px;
      left: 0;
      position: fixed;
      top: 0;
      width: 7px;
      }


      .scroll-container {
        width: 100%; /* Prend toute la largeur du parent */
        height: 450px; /* Hauteur fixe, ajustez selon vos besoins */
        overflow-y: auto; /* Ajoute une barre de défilement verticale si le contenu dépasse la hauteur */
        /* border: 1px solid #ccc; Bordure pour visualiser le conteneur */
        box-sizing: border-box; /* Inclut padding et bordure dans la largeur et la hauteur */
      }
      
      /* Optionnel : Styles pour masquer la barre de défilement sur les navigateurs Webkit */
      .scroll-container::-webkit-scrollbar {
        width: 8px;
      }
      
      .scroll-container::-webkit-scrollbar-thumb {
        background-color: #d9d9d980; 
        border-radius: 4px;
      }
      
      .scroll-container::-webkit-scrollbar-thumb:hover {
        background-color: #d9d9d9bb; 
      }
      
     /* .RVS .frame-7 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
  } */
  /* .RVS .frame-7 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    grid-gap: 10px;
    gap: 10px;
    position: relative;
    width: 100%;
    height: auto; 
} */
/* .RVS {
  display: flex;
  flex-direction: column; /* Disposer les éléments enfants verticalement 
} */

    